name: Deploy Shiny Quarto

on:
  repository_dispatch:
    types: [deploy-shiny]
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "data/**"
      - "renv.lock"
      - ".Rprofile"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install system libraries (curl, sf, textshaping, etc.)
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libcurl4-openssl-dev \
            libssl-dev \
            libxml2-dev \
            libfontconfig1-dev \
            libfreetype6-dev \
            libpng-dev \
            libtiff5-dev \
            libjpeg-dev \
            libharfbuzz-dev \
            libfribidi-dev \
            libudunits2-dev \
            libgdal-dev \
            libgeos-dev \
            libproj-dev

      - name: Force CRAN repo globally
        run: |
          echo "options(repos = c(CRAN='https://cloud.r-project.org'))" >> ~/.Rprofile

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.4.1'

      - name: Restore renv
        uses: r-lib/actions/setup-renv@v2

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Check environment
        run: |
          R -q -e "sessionInfo()"
          R -q -e "renv::status()"

      - name: Deploy to shinyapps.io
        env:
          SHINYAPPS_NAME: ${{ secrets.SHINYAPPS_NAME }}
          SHINYAPPS_TOKEN: ${{ secrets.SHINYAPPS_TOKEN }}
          SHINYAPPS_SECRET: ${{ secrets.SHINYAPPS_SECRET }}
        run: |
          Rscript deploy.R
